<div class="container h-100 bg-primary">
  <form
    [formGroup]="form"
    class="h-100 d-flex justify-content-center align-items-center"
    (ngSubmit)="onSubmit()"
  >
    <select
      name="name"
      id="name"
      class="form-control m-2"
      formControlName="name"
    >
      <option value="{{ singleBeer }}" *ngFor="let singleBeer of beerNames">
        {{ singleBeer }}
      </option>
    </select>
    <select
      name="type"
      id="type"
      class="form-control m-2"
      formControlName="type"
    >
      <option value="{{ singleType }}" *ngFor="let singleType of beerTypes">
        {{ singleType }}
      </option>
    </select>
    <button type="submit" class="btn btn-warning" [disabled]="!form.valid">
      Search
    </button>
  </form>
</div>
